{
  "openapi": "3.1.0",
  "info": {
    "title": "InsightThread News API",
    "version": "1.0.0",
    "description": "Real-time classified financial news with sentiment and impact scoring."
  },
  "servers": [
    {
      "url": "https://newsapi.insighthread.com/api/v1",
      "description": "Production"
    }
  ],
  "security": [{ "bearerAuth": [] }],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Use a developer API key from your dashboard. Format: `ik_live_…` or `ik_test_…`."
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": ["error"],
        "properties": {
          "error": {
            "type": "object",
            "required": ["type", "message"],
            "properties": {
              "type": { "type": "string", "example": "unauthorized" },
              "message": { "type": "string", "example": "Missing or invalid API key." }
            }
          }
        }
      },
      "NewsArticle": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "description": "Stable article ID." },
          "ticker": { "type": "string", "example": "AAPL" },
          "company_name": { "type": "string", "example": "Apple Inc." },
          "event_types": {
            "type": "array",
            "items": { "type": "string" },
            "example": ["Corporate Earnings"]
          },
          "headline": { "type": "string" },
          "summary": { "type": "string", "nullable": true },
          "published_at": { "type": "string", "format": "date-time" },
          "source": {
            "type": "object",
            "properties": {
              "name": { "type": "string", "example": "Reuters" },
              "url": { "type": "string", "format": "uri" }
            }
          },
          "impact": {
            "type": "object",
            "properties": {
              "direction": {
                "type": "string",
                "enum": ["positive", "negative", "neutral"]
              },
              "confidence": { "type": "number", "minimum": 0, "maximum": 1 },
              "signal_strength": {
                "type": "integer",
                "minimum": 1,
                "maximum": 5,
                "description": "1–5 bars derived from confidence."
              }
            }
          },
          "market": {
            "type": "object",
            "properties": {
              "price": { "type": "number", "nullable": true },
              "change": { "type": "number", "nullable": true },
              "change_percentage": { "type": "number", "nullable": true }
            }
          }
        }
      }
    }
  },
  "paths": {
    "/ping": {
      "get": {
        "summary": "Verify an API key",
        "description": "Returns `200` with key details when the Authorization header is valid. The simplest way to confirm your integration works.",
        "operationId": "ping",
        "responses": {
          "200": {
            "description": "Authenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": { "type": "boolean", "example": true },
                    "message": { "type": "string", "example": "Authenticated as \"my-first-key\"" },
                    "client": {
                      "type": "object",
                      "properties": {
                        "id": { "type": "string" },
                        "label": { "type": "string", "example": "my-first-key" },
                        "prefix": { "type": "string", "example": "ik_test_" }
                      }
                    },
                    "served_at": { "type": "string", "format": "date-time" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/events": {
      "get": {
        "summary": "List event types",
        "description": "Returns the catalog of event-type slugs accepted by the `event_type` filter on `/news`.",
        "operationId": "listEvents",
        "responses": {
          "200": {
            "description": "Event catalog.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": { "type": "integer", "example": 12 },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "event_type": { "type": "string", "example": "Corporate Earnings" },
                          "slug": { "type": "string", "example": "corporate-earnings" }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/news": {
      "get": {
        "summary": "List news",
        "description": "Returns a paginated list of classified news articles, newest first. Filter by event type and/or ticker.",
        "operationId": "listNews",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items per page (1–50).",
            "required": false,
            "schema": { "type": "integer", "minimum": 1, "maximum": 50, "default": 10 }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque cursor returned by a previous response in `pagination.next_cursor`. Omit for the first page.",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "event_type",
            "in": "query",
            "description": "Filter by a single event-type slug (see GET /events for the full list). Alias: `event_types`.",
            "required": false,
            "schema": { "type": "string", "example": "corporate-earnings" }
          },
          {
            "name": "ticker",
            "in": "query",
            "description": "Comma-separated tickers (case-insensitive). Alias: `tickers`.",
            "required": false,
            "schema": { "type": "string", "example": "AAPL,MSFT" }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated news feed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": { "type": "integer" },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "next_cursor": { "type": "string", "nullable": true },
                        "has_more": { "type": "boolean" }
                      }
                    },
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/NewsArticle" }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Most commonly: unknown `event_type` value.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "502": {
            "description": "Upstream data source temporarily unavailable.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    }
  }
}
